{% extends 'admin/layout.nav.html.twig' %}

{% block title %}Insurance List{% endblock %}

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">Pojištění</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message|trans() }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Objednávky</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered border border-dark text-dark data-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Pojištění</th>
                        <th>Číslo pojištění</th>
                        <th>Příjmení</th>
                        <th>Jméno</th>
                        <th>Datum narození</th>
                        <th>Začátek pojištění</th>
                        <th>Doba trvání</th>
                        <th>Konec pojištění</th>
                        <th>Cena</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for insurance in insurances %}
                        <tr>
                            <td {% if insurance.status == constant("App\\Entity\\Insurance::STATUS_PAYED_SUCCESS") %}
                                    style="background-color: #1e7e34"
                                {% endif%}
                                {% if insurance.status == constant("App\\Entity\\Insurance::STATUS_PAYED_ERROR") %}
                                    style="background-color: #78261f"
                                {% endif %}>
                                {{ insurance.id }}
                            </td>
                            <td>{{ insurance.insuranceName }}</td>
                            <td>{{ insurance.insuredNumber }}</td>
                            <td>{{ insurance.clientSName }}</td>
                            <td>{{ insurance.clientName }}</td>
                            <td>{{ insurance.dateBirth|date('d.m.Y') }}</td>
                            <td>{{ insurance.startDate|date('d.m.Y') }}</td>
                            <td>{{ insurance.insuranceDuration }}</td>
                            <td>{{ insurance.endDate|date('d.m.Y') }}</td>
                            <td>{{ insurance.price }}</td>
                            <td>
                                <a href="{{ path('admin_insurance_edit', {'insurance': insurance.id}) }}" class="btn btn-sm btn-secondary mb-2">Detail</a>
                                {% if insurance.status == constant("App\\Entity\\Insurance::STATUS_PAYED_SUCCESS") %}
                                    {% if insurance.sentToClient %}
                                        <a class="btn btn-sm btn-light mb-2" href="{{ path('admin_insurance_sent_to_client_toggle', {'insurance': insurance.id}) }}">Odesláno klientů</a>
                                    {% else %}
                                        <a class="btn btn-sm btn-primary mb-2" href="{{ path('admin_insurance_sent_to_client_toggle', {'insurance': insurance.id}) }}">V kanceláři</a>
                                    {% endif %}
                                    {% if insurance.paidToInsuranceCompany %}
                                        <a class="btn btn-sm btn-success mb-2" href="{{ path('admin_insurance_paid_to_insurance_toggle', {'insurance': insurance.id}) }}">Zaplaceno do pojišťovny</a>
                                    {% else %}
                                        <a class="btn btn-sm btn-warning mb-2" href="{{ path('admin_insurance_paid_to_insurance_toggle', {'insurance': insurance.id}) }}">Neuhrazeno do pojišťovny</a>
                                    {% endif %}
                                {% else %}
                                    <a class="btn btn-sm btn-warning mb-2" href="{{ path('admin_insurance_set_paid_status_success_toggle', {'insurance': insurance.id}) }}">Nezaplaceno klientem</a>
                                {% endif %}
                                <a
                                        onclick="return confirm('Jste jisti ze chcete vymazat tuto položku?')"
                                        href="{{ path('admin_insurance_remove', {'insurance': insurance.id}) }}"
                                        class="btn btn-sm btn-danger mb-2">
                                    Vymazat
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}