{% extends 'page/layout.html.twig' %}

{% block title %}{{ 'tittle.aboutUs'|trans }}{% endblock %}

{% block body %}
    {% include 'page/components/header.html.twig' %}
    <section class="container">
        <h1 class="margin-top-50 margin-bottom-30 text-center font-semi-bold">{{ 'page.aboutUs.mainText'|trans }}</h1>
        <div class="margin-bottom-70">
            <p class="text-justify h5 mb-3 text-indent">{{ 'page.aboutUs.part1'|trans }}</p>
            <p class="text-justify h5 mb-3 text-indent">{{ 'page.aboutUs.part2'|trans }}</p>
            <p class="text-justify h5 mb-3 text-indent">
                {{ 'page.aboutUs.part3First'|trans }}
                <strong class="color-red font-semi-bold">Maxima, Uniqa, pVZP, Ergo</strong>
                {{ 'page.aboutUs.part3Second'|trans }}
            </p>
            <p class="text-justify h5 mb-3 text-indent">{{ 'page.aboutUs.part4'|trans }}</p>
        </div>
    </section>


    {% include 'page/components/footer.html.twig' %}

{% endblock %}