{% extends 'page/layout.html.twig' %}

{% block title %}Застрахуй.cz{% endblock %}

{% block body %}
    {% include 'page/components/header.html.twig' %}

    <section id="main-slider" class="margin-bottom-70">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" style="position: relative">
                    <div class="slide-1-text rounded pb-4 text-center pt-4 pl-3 pr-3">
                        <p class="mb-3 font-weight-bold slide-1-text-transform">Оформите старховку у нас по самой выгодной цене и получите приятный бонус</p>
                        <a class="rounded order-online-carusel font-weight-bold" href="{{ path('page_insurance_options') }}">
                            <strong class="order-online-text">Оформить онлайн</strong>
                        </a>
                    </div>
                    <img src="{{ asset('assets/page/img/slide1.png') }}" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <section id="manufacture" class="text-center margin-bottom-70 margin-top-70">

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message|trans() }}
                    </div>
                {% endfor %}
            {% endfor %}

            <h1 class="margin-bottom-50">Наши услуги</h1>

            <div class="row d-flex justify-content-around margin-bottom-70">
                <div class="flip-card col-sm-5">
                    <div class="flip-card-inner custom-border-red pt-5 pb-5">
                        <div class="flip-card-front">
                            <a class="service-link text-decoration-none" href="{{ path('page_insurance_options') }}">
                                <img src="{{ asset('assets/page/img/insuarence-order.jpg') }}" alt="order insurance online" class="img-fluid pt-5">
                                <p class="mt-4 mb-0 color-red">Страхование инострацев</p>
                            </a>
                        </div>
                        <div class="flip-card-back">
                            <a class="service-link text-decoration-none" href="{{ path('page_insurance_options') }}">
                                <img src="{{ asset('assets/page/img/insuarence-order.jpg') }}" alt="order insurance online" class="img-fluid pt-5">
                                <p class="mt-4 mb-0 text-white">Страхование инострацев</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flip-card col-sm-5">
                    <div class="flip-card-inner custom-border-red pt-5 pb-5">
                        <div class="flip-card-front">
                            <a class="service-link text-decoration-none" href="{{ path('page_index') }}">
                                <img src="{{ asset('assets/page/img/bank-order.jpg') }}" alt="order bank" class="img-fluid pt-5">
                                <p class="mt-4 mb-0 color-red">Помощь в получении банковских справок</p>
                            </a>
                        </div>
                        <div class="flip-card-back">
                            <a class="service-link text-decoration-none" href="{{ path('page_index') }}">
                                <img src="{{ asset('assets/page/img/bank-order.jpg') }}" alt="order bank" class="img-fluid pt-5">
                                <p class="mt-4 mb-0 text-white">Помощь в получении банковских справок</p>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <section id="contactUs" class="pt-5 pb-5 background-red">
        <div class="container">
            <h2 class="text-center text-white font-weight-bold mb-4 pt-3">Получите больше информации по телефону</h2>
            <p class="text-center text-white mb-3">
                Оставьте нам свой телефонный номер и мы позвоним Вам со специальным предложением.
            </p>
            <div class="row d-flex justify-content-center">
                {{ form_start(form) }}
                    <div>
                        {{ form_errors(form) }}
                    </div>

                    <div class="d-flex flex-row">
                        <div class="rotate mr-4">
                            {{ form_row(form.mobile) }}
                        </div>
                        <div class="rotate">
                            {{ form_row(form.save) }}
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
    <div class="container">
        <section class="pt-5 pb-5 text-center">
            <h2 class="text-center font-weight-bold mb-4 pt-3">Узнать больше</h2>

            <div class="row">
                <div class="col-12 col-sm-4">
                    <a class="model-link" href="{{ path('page_index') }}">
                        <img src="{{ asset('assets/page/img/order-online.png') }}" alt="order online" class="img-fluid">
                        <p class="mt-4">Проверить лицензию</p>
                    </a>
                </div>
                <div class="col-12 col-sm-4">
                    <a class="model-link" href="{{ path('page_index') }}">
                        <img src="{{ asset('assets/page/img/faq.png') }}" alt="faq" class="img-fluid">
                        <p class="mt-4">Часто задаваемые вопросы</p>
                    </a>
                </div>
                <div class="col-12 col-sm-4">
                    <a class="model-link" href="{{ path('page_index') }}">
                        <img src="{{ asset('assets/page/img/our-office.png') }}" alt="our office" class="img-fluid">
                        <p class="mt-4">Посетите наш офис</p>
                    </a>
                </div>
            </div>
        </section>
    </div>
    {% include 'page/components/footer.html.twig' %}

{% endblock %}

