{% extends 'page/layout.html.twig' %}

{% block title %}Застрахуй.cz{% endblock %}

{% block body %}
    {% include 'page/components/header.html.twig' %}

    <section class="container">
        <h1 class="margin-bottom-50 margin-top-50 font-semi-bold text-center">
            {{ 'page.insurances.text'|trans }} <strong class="color-red">pVZP</strong>
        </h1>

        <div class="row d-flex justify-content-around margin-bottom-70">
            <div class="flip-card flip-card-options-insurance col-sm-5">
                <div class="flip-card-inner custom-border-red pt-5 pb-5">
                    <div class="flip-card-front">
                        <a class="service-link text-decoration-none" href="{{ path('page_apply_insurance', {'name': 'pvzp', 'type': 'complex'}) }}">
                            <img src="{{ asset('assets/page/img/pvzp-logo.png') }}" alt="pvzp logo" class="img-fluid pt-4 w-50">
                            <p class="mt-3 mb-0 font-semi-bold color-red">{{ 'page.insurances.komplexInsurance'|trans }}</p>
                        </a>
                    </div>
                    <div class="flip-card-back">
                        <a class="service-link text-decoration-none d-flex align-items-center flex-column" href="{{ path('page_apply_insurance', {'name': 'pvzp', 'type': 'complex'}) }}">
                            <p class="mt-2 mb-0 p-2 h5 font-semi-bold color-white">
                                {{ 'page.insurances.komplexInsurance'|trans }}
                            </p>
                            <p class="mb-2 color-white font-semi-bold">{{ 'page.insurances.longTerm'|trans }}</p>
                            <p class="mb-0 color-white"><i class="color-green fas fa-check"></i> {{ 'page.insurances.shengenLegacy'|trans }}</p>
                            <p class="mb-0 color-white"><i class="color-green fas fa-check"></i> {{ 'page.insurances.maxPrice1'|trans }}</p>
                            <p class="mb-0 color-white"><i class="color-green fas fa-check"></i> {{ 'page.insurances.legacy'|trans }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <h2 class="font-semi-bold text-center mt-5 mb-4">{{ 'page.insurances.pvzp.whatInclude'|trans }}</h2>
        <div class="h4 d-flex flex-row align-items-center mb-3">
            <i class="color-green fas fa-check-double mr-3"></i>
            <p class="mb-0 text-justify">{{ 'page.insurances.pvzp.text1'|trans }}</p>
        </div>
        <div class="h4 d-flex flex-row align-items-center mb-3">
            <i class="color-green fas fa-check-double mr-3"></i>
            <p class="mb-0 text-justify">{{ 'page.insurances.pvzp.text2'|trans }}</p>
        </div>
        <div class="h4 d-flex flex-row align-items-center mb-3">
            <i class="color-green fas fa-check-double mr-3"></i>
            <p class="mb-0 text-justify">{{ 'page.insurances.pvzp.text3'|trans }}</p>
        </div>
        <div class="h4 d-flex flex-row align-items-center mb-3">
            <i class="color-green fas fa-check-double mr-3"></i>
            <p class="mb-0 text-justify">{{ 'page.insurances.pvzp.text4'|trans }}</p>
        </div>
        <div class="h4 d-flex flex-row align-items-center mb-3">
            <i class="color-green fas fa-check-double mr-3"></i>
            <p class="mb-0 text-justify">{{ 'page.insurances.pvzp.text5'|trans }}</p>
        </div>
        <div class="h4 d-flex flex-row align-items-center mb-3">
            <i class="color-green fas fa-check-double mr-3"></i>
            <p class="mb-0 text-justify">{{ 'page.insurances.pvzp.text6'|trans }}</p>
        </div>
        <div class="h4 d-flex flex-row align-items-center">
            <i class="color-green fas fa-check-double mr-3"></i>
            <p class="mb-0 text-justify">{{ 'page.insurances.pvzp.text7'|trans }}</p>
        </div>
        <h2 class="font-semi-bold text-center mt-5 mb-4">{{ 'page.insurances.pvzp.whatInsuredText'|trans }}</h2>
        <div class="h4 d-flex flex-row align-items-center">
            <i class="color-green fas fa-check-double mr-3"></i>
            <p class="mb-0 text-justify">{{ 'page.insurances.pvzp.text8'|trans }}</p>
        </div>
        <div class="h4 d-flex flex-row align-items-center">
            <i class="color-green fas fa-check-double mr-3"></i>
            <p class="mb-0 text-justify">{{ 'page.insurances.pvzp.text9'|trans }}</p>
        </div>
        <div class="h4 d-flex flex-row align-items-center">
            <i class="color-green fas fa-check-double mr-3"></i>
            <p class="mb-0 text-justify">{{ 'page.insurances.pvzp.text10'|trans }}</p>
        </div>
        <div class="h4 d-flex flex-row align-items-center">
            <i class="color-green fas fa-check-double mr-3"></i>
            <p class="mb-0 text-justify">{{ 'page.insurances.pvzp.text11'|trans }}</p>
        </div>
        <div class="h4 d-flex flex-row align-items-center">
            <i class="color-green fas fa-check-double mr-3"></i>
            <p class="mb-0 text-justify">{{ 'page.insurances.pvzp.text12'|trans }}</p>
        </div>
        <div class="h4 d-flex flex-row align-items-center">
            <i class="color-green fas fa-check-double mr-3"></i>
            <p class="mb-0 text-justify">{{ 'page.insurances.pvzp.text13'|trans }}</p>
        </div>
        <div class="h4 d-flex flex-row align-items-center">
            <i class="ml-4 color-green fas fa-check-double mr-3"></i>
            <p class="mb-0 text-justify">{{ 'page.insurances.pvzp.text14'|trans }}</p>
        </div>
        <div class="h4 d-flex flex-row align-items-center">
            <i class="ml-4 color-green fas fa-check-double mr-3"></i>
            <p class="mb-0 text-justify">{{ 'page.insurances.pvzp.text15'|trans }}</p>
        </div>
        <div class="h4 d-flex flex-row align-items-center margin-bottom-50">
            <i class="ml-4 color-green fas fa-check-double mr-3"></i>
            <p class="mb-0 text-justify">{{ 'page.insurances.pvzp.text16'|trans }}</p>
        </div>

    </section>
    {% include 'page/components/footer.html.twig' %}

{% endblock %}

