{% extends 'page/layout.html.twig' %}

{% block description %}{{ 'description.insuranceUniqa'|trans }}{% endblock %}
{% block keywords %}{{ 'keywords.insuranceUniqa'|trans }}{% endblock %}
{% block title %}{{ 'tittle.insuranceUniqa'|trans }}{% endblock %}

{% block body %}
    {% include 'page/components/header.html.twig' %}

    <section class="container">
        <h1 class="margin-bottom-50 margin-top-50 font-semi-bold text-center">
            {{ 'page.insurances.text'|trans }} <strong class="color-red">UNIQA</strong>
        </h1>

        <div class="row d-flex justify-content-around margin-bottom-70">
            <div class="flip-card flip-card-options-insurance col-sm-5">
                <div class="flip-card-inner custom-border-red pt-5 pb-5">
                    <div class="flip-card-front">
                        <a class="service-link text-decoration-none" href="{{ path('page_apply_insurance', {'name': 'uniqa', 'type': 'complex'}) }}">
                            <img src="{{ asset('assets/page/img/unica-logo.jpg') }}" alt="uniqa" class="img-fluid pt-4 w-50">
                            <p class="mt-4 mb-0 font-semi-bold color-red">{{ 'page.insurances.komplexInsurance'|trans }}</p>
                        </a>
                    </div>
                    <div class="flip-card-back">
                        <a class="service-link text-decoration-none d-flex align-items-center flex-column" href="{{ path('page_apply_insurance', {'name': 'uniqa', 'type': 'complex'}) }}">
                            <p class="mt-2 mb-0 p-2 h5 font-semi-bold color-white">
                                {{ 'page.insurances.komplexInsurance'|trans }}
                            </p>
                            <p class="mb-2 color-white font-semi-bold">{{ 'page.insurances.longTerm'|trans }}</p>
                            <p class="mb-0 color-white"><i class="color-green fas fa-check"></i> {{ 'page.insurances.shengenLegacy'|trans }}</p>
                            <p class="mb-0 color-white"><i class="color-green fas fa-check"></i> {{ 'page.insurances.uniqa.maxPrice'|trans }}</p>
                            <p class="mb-0 color-white"><i class="color-green fas fa-check"></i> {{ 'page.insurances.legacy'|trans }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <h2 class="font-semi-bold text-center mt-5 mb-4">{{ 'page.insurances.uniqa.komplexInsurance'|trans }}</h2>
        <p class="mb-5">{{ 'page.insurances.uniqa.text1'|trans }}</p>
    </section>
    {% include 'page/components/footer.html.twig' %}

{% endblock %}

