{% extends 'page/layout.html.twig' %}

{% block description %}{{ 'description.index'|trans }}{% endblock %}
{% block keywords %}{{ 'keywords.index'|trans }}{% endblock %}
{% block title %}{{ 'tittle.index'|trans }}{% endblock %}

{% block body %}
    {% include 'page/components/header.html.twig' %}

    <section class="container">
        <p class="h4 text-center color-red font-semi-bold mb-4 margin-top-30">
            {{ 'page.medical-support.detail'|trans }}
        </p>
        <p class="h4 text-center color-red font-semi-bold mb-4">
            {{ 'page.medical-support.detail2'|trans }}
        </p>
        <h1 class="margin-top-30 text-uppercase font-semi-bold text-center margin-bottom-30">
            {{ 'page.medical-support.header'|trans }}
        </h1>
        <div class="text-center">
            <p class="h4">
                <i class="fa fa-check color-green" aria-hidden="true"></i>
                {{ 'page.medical-support.detail3'|trans }}
            </p>
            <p class="h4">
                <i class="fa fa-check color-green" aria-hidden="true"></i>
                {{ 'page.medical-support.detail4'|trans }}
            </p>
        </div>
        <p class="h4 mt-3">
            <i class="fa fa-ellipsis-h color-red" aria-hidden="true"></i>
            {{ 'page.medical-support.text1'|trans }}
            <strong class="font-weight-bold color-red">{{ 'page.medical-support.text1Detail'|trans }}</strong>
        </p>
        <p class="h4 mt-3">
            <i class="fa fa-ellipsis-h color-red" aria-hidden="true"></i>
            {{ 'page.medical-support.text2'|trans }}
            <strong class="font-weight-bold color-red">{{ 'page.medical-support.text2Detail'|trans }}</strong>
        </p>
        <p class="h4 mt-3">
            <i class="fa fa-ellipsis-h color-red" aria-hidden="true"></i>
            {{ 'page.medical-support.text3'|trans }}
            <strong class="font-weight-bold color-red">{{ 'page.medical-support.text3Detail'|trans }}</strong>
        </p>
        <p class="h4 mt-3">
            <i class="fa fa-ellipsis-h color-red" aria-hidden="true"></i>
            {{ 'page.medical-support.text4'|trans }}
            <strong class="font-weight-bold color-red">{{ 'page.medical-support.text4Detail'|trans }}</strong>
        </p>
        <p class="h4 mt-3">
            <i class="fa fa-ellipsis-h color-red" aria-hidden="true"></i>
            {{ 'page.medical-support.text5'|trans }}
            <strong class="font-weight-bold color-red">{{ 'page.medical-support.text5Detail'|trans }}</strong>
        </p>
        <p class="h4 mt-3">
            <i class="fa fa-ellipsis-h color-red" aria-hidden="true"></i>
            {{ 'page.medical-support.text6'|trans }}
            <strong class="font-weight-bold color-red">{{ 'page.medical-support.text6Detail'|trans }}</strong>
            <strong class="font-weight-bold color-red">{{ 'page.medical-support.text6Detail1'|trans }}</strong>
        </p>
        <p class="h4 mt-3">
            <i class="fa fa-ellipsis-h color-red" aria-hidden="true"></i>
            {{ 'page.medical-support.text7'|trans }}
            <strong class="font-weight-bold color-red">{{ 'page.medical-support.text7Detail'|trans }}</strong>
        </p>
        <p class="h3 mt-3 font-weight-bold">
            {{ 'page.medical-support.text8'|trans }}
        </p>
        <p class="h4 mt-3">
            <i class="fa fa-ellipsis-h color-red" aria-hidden="true"></i>
            <strong>{{ 'page.medical-support.text8Detail1'|trans }}</strong>
            {{ 'page.medical-support.text8Detail2'|trans }}
            <strong class="font-weight-bold color-red">{{ 'page.medical-support.text8Detail3'|trans }}</strong>
        </p>
        <p class="h4 mt-3 mb-5">
            <i class="fa fa-ellipsis-h color-red" aria-hidden="true"></i>
            <strong>{{ 'page.medical-support.text9'|trans }}</strong>
            {{ 'page.medical-support.text9Detail1'|trans }}
            <strong class="font-weight-bold color-red">{{ 'page.medical-support.text9Detail2'|trans }}</strong>
        </p>




    </section>
    {% include 'page/components/footer.html.twig' %}

{% endblock %}

