{% extends 'admin/layout.nav.html.twig' %}

{% block title %}Insurance List{% endblock %}

{% block content %}
    <h1 class="h3 mb-2 text-gray-800">Ceník</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message|trans() }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table mb-4">
        <thead>
            <tr>
                <th scope="col">PVZP</th>
                <th scope="col">MAXIMA</th>
                <th scope="col">ERGO</th>
                <th scope="col">UNIQA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">pvzpChild - <strong>od 0 do 5 </strong></th>
                <td>maximaYoung - <strong>od 2 do 17</strong></td>
                <td>ergoYoung - <strong>od 0 do 14</strong></td>
                <td>uniqaChild - <strong>od 0 do 4</strong></td>
            </tr>
            <tr>
                <th scope="row">pvzpYoung - <strong>od 6 do 14</strong></th>
                <td>maxima - <strong>od 18 do 30</strong></td>
                <td>ergo - <strong>od 15 do 26</strong></td>
                <td>uniqaYoung - <strong>od 5 do 14</strong></td>
            </tr>
            <tr>
                <th scope="row">pvzp - <strong>od 15 do 26</strong></th>
                <td>maximaMedium - <strong>od 31 do 50</strong></td>
                <td>ergoMedium - <strong>od 27 do 65</strong></td>
                <td>uniqa - <strong>od 15 do 39</strong></td>
            </tr>
            <tr>
                <th scope="row">pvzpMid - <strong>od 15 do 44</strong> </th>
                <td>maximaOld - <strong>od 51 do 60</strong></td>
                <td>ergoOld - <strong>od 66</strong></td>
                <td>uniqaMid - <strong>od 40 do 54</strong></td>
            </tr>
            <tr>
                <th scope="row">pvzpMedium - <strong>od 45 do 59</strong> </th>
                <td>maximaUrgent - <strong>od 1 do 30</strong></td>
                <td></td>
                <td>uniqaMedium - <strong>od 55 do 59</strong></td>
            </tr>
            <tr>
                <th scope="row">pvzpOld - <strong>od 60 do 69</strong></th>
                <td>maximaUrgentMid - <strong>od 31 do 65</strong></td>
                <td></td>
                <td>uniqaOld - <strong>od 60 do 64</strong></td>
            </tr>
            <tr>
                <th scope="row">pvzpSenior - <strong>od 70</strong></th>
                <td>maximaUrgentOld - <strong>od 66 do 80</strong></td>
                <td></td>
                <td>uniqaSenior - <strong>od 65 do 69</strong></td>
            </tr>
        </tbody>
    </table>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sazebník</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-dark data-table">
                    <thead>
                    <tr>
                        <th>Pojištění</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>24</th>
                        <th>Akce</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for price in prices %}
                        <tr>
                            <td>{{ price.name }}</td>
                            <td>{{ price.threeMonth }}</td>
                            <td>{{ price.fourMonth }}</td>
                            <td>{{ price.fiveMonth }}</td>
                            <td>{{ price.sixMonth }}</td>
                            <td>{{ price.sevenMonth }}</td>
                            <td>{{ price.eightMonth }}</td>
                            <td>{{ price.nineMonth }}</td>
                            <td>{{ price.tenMonth }}</td>
                            <td>{{ price.elevenMonth }}</td>
                            <td>{{ price.year }}</td>
                            <td>{{ price.twoYears }}</td>
                            <td>
                                <a href="{{ path('admin_price_edit', {'inusrancePrice': price.id}) }}" class="btn btn-sm btn-secondary">Změnit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}