<div class="container">
    <h2 class="font-weight-bold mb-3">{{ 'email.header'|trans }}</h2>

    <h3 class="mb-2">
        {{ 'email.bankReference.text1'|trans }} <a href="http://54.38.55.53/">zastrachuj.cz</a> -
        <strong style="color: #ff1f31" style="font-weight: bold; font-size: 30px">{{ 'email.bankReference.text2'|trans }}</strong>
    </h3>
    <h3>
        {{ 'email.bankReference.text3'|trans }}
    </h3>

    <br><br>
    <h4 class="text-center">
        {{ 'email.automaticText'|trans }}
    </h4>
    <p class="mb-2 color-red">
        {{ 'email.footer.regards.text1'|trans }}
    </p>
    <p class="mb-2 color-red">
        {{ 'email.footer.regards.text2'|trans }}
    </p>
</div>