<div style="text-align: center; padding-bottom: 15px; padding-top: 15px; background-color: #da1931">
    <a href="https://zastrachuj.cz{{ path('page_index') }}">
        <img style="margin: auto; width: 350px"
             src="https://zastrachuj.cz{{ asset('assets/page/img/logo-white.png') }}" alt="zastrachuj.cz">
    </a>
</div>
<div style="width: 70%; margin: auto;">
    <h3 style="text-align: center">
        Клиент оставил свой номер телефона для уточнения деталей - <strong>{{ phone.mobile }}</strong>
    </h3>

    <br>
    <h4 style="text-align: center">
        {{ 'email.automaticText'|trans }}
    </h4>
    <br>
    <p style="font-weight: bold; color: #da1931">
        {{ 'email.footer.regards.text1'|trans }}
    </p>
    <p style="font-weight: bold; color: #da1931">
        {{ 'email.footer.regards.text2'|trans }}
    </p>
</div>