<div style="text-align: center; padding-bottom: 15px; padding-top: 15px; background-color: #da1931">
    <a href="https://zastrachuj.cz{{ path('page_index') }}">
        <img style="margin: auto; width: 350px"
             src="https://zastrachuj.cz{{ asset('assets/page/img/logo-white.png') }}" alt="zastrachuj.cz">
    </a>
</div>
<div style="width: 70%; margin: auto;">
    <h1 style="font-weight: bold; text-align: center">{{ 'email.confirmPayment.header'|trans }}</h1>
    <h3 style="text-align: center;"><u>
            {{ 'email.detail.insuranceName'|trans }}
            <strong style="color: #DA1931">
                {% if insurance.insuranceName == constant("App\\Entity\\Insurance::INSURANCE_MAXIMA") %}
                    Maxima pojišťovna
                {% elseif insurance.insuranceName == constant("App\\Entity\\Insurance::INSURANCE_UNIQA") %}
                    Pojišťovna UNIQA
                {% elseif insurance.insuranceName == constant("App\\Entity\\Insurance::INSURANCE_PVZP") %}
                    Pojišťovna VZP
                {% else %}
                    ERGO pojišťovna
                {% endif %}
            </strong></u>
    </h3>
    <h3 class="mb-2">
        {{ 'email.detail.forWhom'|trans }} <u><strong>{{ insurance.clientName }} {{ insurance.clientSName }}</strong></u>
    </h3>
    <p class="mb-2">{{ 'email.detail.dateBirth'|trans }} <strong>{{ insurance.dateBirth|date('d.m.Y') }}</strong></p>
    <p class="mb-2">
        {{ 'email.detail.validFrom'|trans }} <strong>{{ insurance.startDate|date('d.m.Y') }}</strong> {{ 'email.detail.validTo'|trans }} <strong>{{ insurance.endDate|date('d.m.Y') }}</strong>
    </p>
    <p class="mb-2">{{ 'email.detail.duration'|trans }} <strong>{{ insurance.insuranceDuration }}</strong> {{ 'email.detail.month'|trans }}</p>
    <h2 class="font-weight-bold" style="color: #DA1931">{{ 'email.confirmPayment.thanks'|trans }}</h2>
    <br>
    <h4 style="text-align: center">
        {{ 'email.automaticText'|trans }}
    </h4>
    <br>
    <p style="font-weight: bold; color: #da1931">
        {{ 'email.footer.regards.text1'|trans }}
    </p>
    <p style="font-weight: bold; color: #da1931">
        {{ 'email.footer.regards.text2'|trans }}
    </p>
</div>