<footer class="background-black">
    <div class="container">
        <section class="d-flex justify-content-md-between pt-5 border-bottom-footer pb-3">
            <nav class="nnavbar shift menu-footer">
                <h4 class="text-white pr-2 pl-2 border-bottom pb-2">Меню</h4>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mt-1 mb-1">
                        <a class="nav-link pr-2 pl-2" href="{{ path('page_index') }}">Главная</a>
                    </li>
                    <li class="nav-item mt-1 mb-1">
                        <a class="nav-link pr-2 pl-2" href="{{ path('page_our_license') }}">Наша лицензия</a>
                    </li>
                    <li class="nav-item mt-1 mb-1">
                        <a class="nav-link pr-2 pl-2" href="{{ path('page_contact') }}">Контакты</a>
                    </li>
                    <li class="nav-item mt-1 mb-1">
                        <a class="nav-link pr-2 pl-2" href="{{ path('page_insurance_options') }}">Оформить онлайн</a>
                    </li>
                </ul>
            </nav>
            <nav class="nnavbar shift menu-footer">
                <h4 class="text-white pr-2 pl-2 border-bottom pb-2">Полезные ссылки</h4>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mt-1 mb-1">
                        <a class="nav-link pr-2 pl-2" href="#">Условия и положения</a>
                    </li>
                    <li class="nav-item mt-1 mb-1">
                        <a class="nav-link pr-2 pl-2" href="#">Часто задаваемые вопросы</a>
                    </li>
                </ul>
            </nav>
            <a class="footer-logo" href="{{ path('page_index') }}">
                <img class="logo-footer" src="{{ asset('assets/page/img/logo.png') }}" alt="KOŤA s.r.o.">
            </a>
        </section>
        <section class="text-center footer-text-by mt-3 pb-2">
            <p class="">© 2020 KOŤA s.r.o. | powered by ClixFox</p>
        </section>
    </div>
</footer>