<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{{ 'tittle.error'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('assets/page/app.css') }}">
    {% endblock %}
</head>
<body>
<div class="container text-center mt-5 pt-5">
    <h1 class="display-1 mb-5 color-red">{{ 'page.error.tittle'|trans }}</h1>
    <div class="lead mb-5">{{ 'page.error.lead'|trans }}</div>
    <a href="{{ path('page_index') }}" class="btn btn-green btn-lg rounded-pill">{{ 'page.error.button'|trans }}</a>
</div>
</body>
</html>